*{margin: 0;}

.header {
    background: #55aabb;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.run {
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 20px solid #57a958;
    height: 0px;
    margin-left: 98%;

}

.terminal {
        padding: 4px;
        border: 2px solid gray;
        min-height: 100px;
        width: 99%;
        resize: none;
        background-color: #333;
        font-family: cursive;
        color: azure;

}
.tool-bar {
    display: inline-flex;
}
ul {
    display: flex;
    flex: wrap;
}
li {
    list-style-type: none;
    padding: 5px;
}